body {
	font: normal .8em georgia;
}

h1 {
	font: bold 1.0em georgia;
	text-align: center;
/*	background-color: #00CCFF; */
	background-color: rgb(204,204,204);
	color: rgb(133,66,66);
}

#index {
/*	background-color: #FFFFCC; */
	background-color: #cccccc;
	margin: 0em 3em 0em 3em;
	padding: 0em;

}

#content {
/* 
	needed because jquery.corners-plugin breaks if #index has padding
*/
	padding: 0em 2em 2em 2em;
	overflow:auto;
}

#menu {
	font: normal 1.0em georgia;
	background-color: rgb(133,66,66);
	list-style: none;
	padding: 5px;
	margin: 5px auto 1em auto;
	width: 90%;
}

#menu li {
	display: inline;
	margin-right: 3em; 
}

#menu li a {
	color: rgb(204,204,204);
	text-decoration: none;
	font-weight: bold;
}

#addevent_form label {
	float: left;
	width: 5em;
	line-height: 1.8em;
}
#addevent_form input, #addevent_form textarea {
	margin-left: 1em;
	width: 13em;
}

.clear {
	clear: both;
}

div.text {
	color: #660000;
}

div.errors {
	color: #660000;
}

a:link { 
	color: #660000;
}
	
a:visited { 
	color: #660000;
}

#ui-datepicker-div {
	background-color: rgb(204,204,204);
}

a.ui-datepicker-next, a.ui-datepicker-prev {
	cursor: pointer; 
}

.radioButtons {
	float: left;
	margin: 0em 1em 0em 1em; 
}

#addRankingForm {
	height: 12em;
	display: block; 
	width: 53em;
	margin-left: auto;
	margin-right: auto;
}

#addRankingForm > fieldset {
	border: 1px solid rgb(133,66,66); 
	width: 12em;
	float: left;
}

#addRankingForm > fieldset > legend {
	border: 1px solid rgb(133,66,66);
	padding: 2px 4px 2px 4px;
	font-weight: bold;
}

#addRankingForm .bigGT {
	float: left;
	font-size: 6em;
	color: rgb(133,66,66);
}

#addRankingForm > button {
	float:left;
	width: 155px;
	height: 39px;
	background-color: rgb(133,66,66);
	color: #fff;
	font-size: 1.5em;
	border: 1px dashed black;
	padding: auto;
	margin-top: 1.6em;
}

#deletePlayersList {
	list-style: none;
}

#deletePlayersList li {
	display: inline;
	margin: 0px 4px 0px 4px;
	padding: 1px 2px 1px 2px;
}

.games_list {
	margin: 0 auto 0 auto;
	width: 10em;
}

.games_list > dl {
	margin: 0 auto 0 auto;
}

.games_list > dl > dt, .games_list > dl > dd{
	display: block;
	float: left;
}